@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.color-light {
    color: #f8f8f8;
}
.bg-light {
    background: #F8F8f8;
}
.color-dark {
    background: #191F2D;
}
.bg-dark {
    background: #191F2D;
}
.color-alt-1 {
    color: #ffe7ca;
}
.bg-alt-1 {
    background-color: #ffe7ca;
}
.color-alt-2 {
    color: #b9bff8;
}
.bg-alt-2 {
    background-color: #b9bff8;
}
.color-alt-3 {
    color: #f0f0f0;
}
.bg-alt-3 {
    background-color: #f0f0f0;
}
.screen {
    margin-top: 5vh;
}
.side-nav {
    height: 90vh;
    min-height: 600px;
}
.settings-screen {
    height: 90vh;
    min-height: 600px;
}
.trending-coins-container {
    min-width: 340px;
}
.nav-position-1 {
    margin-top: -69px;
}
.nav-position-2 {
    margin-top: 40px;
}
.nav-position-3 {
    margin-top: 152px;
}
.pagination-selected {
    background-color: black;
    color: white;
}
.to-front {
    z-index: 1;
}


